<div class="marquee marquee-style">
    <p> 789BET.COM ผู้ให้บริการเว็บคาสิโนออนไลน์ เบอร์ 1 ของประเทศไทย ระบบอัตโนมัติ ถอนได้สูงสุด 1,000,000 ต่อวัน </p>
</div>

<div class="full-width">
    <img class="full-width" src="../../assets/images/gif/HERO.gif">
</div>

<div fxLayout="row wrap" class="img-list-contain">
    <div class="img-list-space" fxFlex="50" fxFlex.gt-sm="25" *ngFor="let item of images">
        <div class="img-card">
            <img class="img-size" [src]="item.url">
        </div>
    </div>
</div>

<div class="about-us-wrapper">
    <div class="about-us-contain">
        <div fxLayout="row wrap">
            <div fxFlex="100" fxFlex.gt-sm="40">
                <div class="about-us-box">
                    <div class="img-women"></div>
                    <div class="img-lucabet888"></div>
                </div>

            </div>
            <div fxFlex="100" fxFlex.gt-sm="60" style="color: white;">
                <h4 class="text-primary">
                    เกี่ยวกับเรา 789BET.COM
                </h4>
                <h5>
                    <span class="text-primary">789BET.COM เราคือ Platform เว็บเดิมพัน เบอร์ 1 เว็บพนันสายพันธุ์ใหม่
                        ด้วยเราที่เป็นเว็บแบรนด์ที่ได้รับมาตราฐานระดับสากล ไม่ผ่านเอเย่นต์หรือตัวแทนต่าง
                        ๆ</span>มีสถานที่ตั้งอยู่ในคาสิโนต่างประเทศอย่างถูกต้องตามกฏหมาย โดยเราคัดสรรบริการ
                    การเดิมพันออนไลน์ ทั้งกีฬา บาคาร่า คาสิโนสด เกมส์ สล็อต ยิงปลา ที่รวบรวมไว้ภายใต้แบรนของเรา
                    789BET.COM เรียบร้อยแล้ว ทำให้ท่านไม่ต้องเสียเวลาในการเปลี่ยนเว็บ
                </h5>
                <h5>
                    เราให้บริการผ่านระบบอัตโนมัติ รวดเร็ว ถูกต้อง แม่นยำ และปลอดภัยต่อข้อมูล ใช้งานง่าย สะดวก
                    โดยที่ไม่ทำให้การเดิมพันของท่านติดขัด ใช้เวลาเพียงไม่กี่วินาทีเท่านั้น ฝากเงินได้จริง ถอนเงินได้จริง
                    และสามารถเข้าเล่นได้จริง ระบบของเราเป็น คาสิโนสด บาคาร่าสด ที่มีการถ่ายทอดสดตรงจากคาสิโนในต่างประเทศ
                    ไม่มีการตัดต่อวีดีโอ ทำให้ท่านสามารถมั่นใจได้ว่าจะไม่มีการโกงหรือการทุจริตเกิดขึ้น
                </h5>

                <h6>
                    “ 789BET.COM เรามุ่งมั่น และมีความตั้งใจในการพัฒนาอย่างต่อเนื่องเพื่อเป้าหมายที่ยิ่งใหญ่ของเราคือ
                    เราต้องการที่จะเป็น 1 ในเว็บไซต์เดิมพันชั้นนำในระดับโลก “
                </h6>
            </div>
        </div>
    </div>
</div>